@media (max-width : 1199px) {
    html {
        font-size: 54%;
    }

    /* navbar */
    .navbar-expand-lg .navbar-nav .nav-item .socialIcon {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-item input {
        background: transparent;
        border: 1px solid white;
        border-radius: 25px;
        outline: none;
        width: 200px;
        padding: 8px;
        color: white;
    }
}

@media (max-width : 991px) {
    html {
        font-size: 43%;
    }

    /* navbar */
    .navbar-nav {
        background-color: #AA096C;
    }

    .nav-item input::placeholder {
        text-align: center;
        transform: translateY(20%);
    }

    /* Smart home section */
    #smartHome h3 {
        text-align: center;
    }

    #smartHome button {
        margin-left: 20%;
    }
}


@media (max-width : 767px) {
    html {
        font-size: 43%;
    }
}